In [1]:
import pandas as pd
import plotly.graph_objects as go

In [2]:
ma_test_res = pd.read_pickle('ma_test_res.pkl')
all_trades = pd.read_pickle('all_trades.pkl')

In [3]:
all_trades.shape

(64416, 11)

In [4]:
ma_test_res.shape

(630, 8)

In [5]:
ma_test_res.head()

,pair,num_trades,total_gain,mean_gain,min_gain,max_gain,mashort,malong
0,GBP_USD,562,-966.2,-1.719217,-117.4,246.2,4,8
1,GBP_USD,319,-684.2,-2.144828,-122.8,291.2,4,16
2,GBP_USD,295,-722.9,-2.450508,-154.4,290.6,8,16
3,GBP_USD,209,-541.7,-2.591866,-222.7,306.0,4,32
4,GBP_USD,155,184.8,1.192258,-222.7,507.4,8,32