In [20]:
import requests
import defs
import pandas as pd

In [6]:
session = requests.Session()

In [1]:
instrument = 'EUR_USD'
count = 10
granularity = 'H1'

In [4]:
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"

In [5]:
url

'https://api-fxpractice.oanda.com/v3/instruments/EUR_USD/candles'

In [12]:
params = dict(
    count = count, 
    granularity = granularity,
    price = "MBA"
)

In [11]:
param

{'count': 10, 'granularity': 'H1', 'price': 'MBA'}

In [13]:
response = session.get( url, params=params, headers=defs.SECURE_HEADER )

In [23]:
response.status_code

200

In [19]:
response.json()

{'instrument': 'EUR_USD',
 'granularity': 'H1',
 'candles': [{'complete': True,
   'volume': 8562,
   'time': '2022-05-06T11:00:00.000000000Z',
   'bid': {'o': '1.05879', 'h': '1.05904', 'l': '1.05591', 'c': '1.05650'},
   'mid': {'o': '1.05886', 'h': '1.05911', 'l': '1.05599', 'c': '1.05658'},
   'ask': {'o': '1.05893', 'h': '1.05918', 'l': '1.05607', 'c': '1.05666'}},
  {'complete': True,
   'volume': 26820,
   'time': '2022-05-06T12:00:00.000000000Z',
   'bid': {'o': '1.05648', 'h': '1.05962', 'l': '1.05466', 'c': '1.05527'},
   'mid': {'o': '1.05656', 'h': '1.05972', 'l': '1.05475', 'c': '1.05538'},
   'ask': {'o': '1.05664', 'h': '1.05985', 'l': '1.05484', 'c': '1.05548'}},
  {'complete': True,
   'volume': 30665,
   'time': '2022-05-06T13:00:00.000000000Z',
   'bid': {'o': '1.05525', 'h': '1.05952', 'l': '1.05523', 'c': '1.05726'},
   'mid': {'o': '1.05536', 'h': '1.05960', 'l': '1.05534', 'c': '1.05734'},
   'ask': {'o': '1.05546', 'h': '1.05969', 'l': '1.05545', 'c': '1.05743'}},
  {'complete': True,
   'volume': 28079,
   'time': '2022-05-06T14:00:00.000000000Z',
   'bid': {'o': '1.05726', 'h': '1.05870', 'l': '1.05563', 'c': '1.05811'},
   'mid': {'o': '1.05734', 'h': '1.05878', 'l': '1.05572', 'c': '1.05818'},
   'ask': {'o': '1.05742', 'h': '1.05886', 'l': '1.05580', 'c': '1.05826'}},
  {'complete': True,
   'volume': 15992,
   'time': '2022-05-06T15:00:00.000000000Z',
   'bid': {'o': '1.05809', 'h': '1.05944', 'l': '1.05699', 'c': '1.05702'},
   'mid': {'o': '1.05816', 'h': '1.05952', 'l': '1.05707', 'c': '1.05710'},
   'ask': {'o': '1.05824', 'h': '1.05960', 'l': '1.05714', 'c': '1.05717'}},
  {'complete': True,
   'volume': 12819,
   'time': '2022-05-06T16:00:00.000000000Z',
   'bid': {'o': '1.05701', 'h': '1.05796', 'l': '1.05655', 'c': '1.05683'},
   'mid': {'o': '1.05710', 'h': '1.05804', 'l': '1.05664', 'c': '1.05692'},
   'ask': {'o': '1.05718', 'h': '1.05813', 'l': '1.05673', 'c': '1.05700'}},
  {'complete': True,
   'volume': 11251,
   'time': '2022-05-06T17:00:00.000000000Z',
   'bid': {'o': '1.05684', 'h': '1.05741', 'l': '1.05494', 'c': '1.05495'},
   'mid': {'o': '1.05692', 'h': '1.05749', 'l': '1.05503', 'c': '1.05504'},
   'ask': {'o': '1.05700', 'h': '1.05757', 'l': '1.05511', 'c': '1.05512'}},
  {'complete': True,
   'volume': 8434,
   'time': '2022-05-06T18:00:00.000000000Z',
   'bid': {'o': '1.05497', 'h': '1.05577', 'l': '1.05429', 'c': '1.05467'},
   'mid': {'o': '1.05504', 'h': '1.05585', 'l': '1.05438', 'c': '1.05474'},
   'ask': {'o': '1.05512', 'h': '1.05593', 'l': '1.05446', 'c': '1.05482'}},
  {'complete': True,
   'volume': 9052,
   'time': '2022-05-06T19:00:00.000000000Z',
   'bid': {'o': '1.05465', 'h': '1.05555', 'l': '1.05355', 'c': '1.05466'},
   'mid': {'o': '1.05473', 'h': '1.05564', 'l': '1.05363', 'c': '1.05475'},
   'ask': {'o': '1.05481', 'h': '1.05573', 'l': '1.05371', 'c': '1.05484'}},
  {'complete': True,
   'volume': 2626,
   'time': '2022-05-06T20:00:00.000000000Z',
   'bid': {'o': '1.05466', 'h': '1.05475', 'l': '1.05394', 'c': '1.05431'},
   'mid': {'o': '1.05474', 'h': '1.05488', 'l': '1.05404', 'c': '1.05458'},
   'ask': {'o': '1.05482', 'h': '1.05538', 'l': '1.05415', 'c': '1.05484'}}]}

In [21]:
data = response.json()

In [22]:
data.keys()

dict_keys(['instrument', 'granularity', 'candles'])

In [25]:
len(data['candles'])

10

In [28]:
prices = ['mid','bid','ask']
ohlc = ['o','h','l','c']

In [30]:
for price in prices: 
    for oh in ohlc:
        print(f"{price}_{oh}")

mid_o
mid_h
mid_l
mid_c
bid_o
bid_h
bid_l
bid_c
ask_o
ask_h
ask_l
ask_c

In [47]:
data['candles'][0]['bid']['o']

'1.05879'

In [54]:
our_data = []
for candle in data['candles']:
    if candle['complete'] == False:
        continue
    new_dict = {}
    new_dict['time'] = candle['time']
    new_dict['volume'] = candle['volume']
    for price in prices: 
        for oh in ohlc:
            new_dict[f"{price}_{oh}"] = candle[price][oh]
    our_data.append(new_dict)
print(our_data[0])

{'time': '2022-05-06T11:00:00.000000000Z', 'volume': 8562, 'mid_o': '1.05886', 'mid_h': '1.05911', 'mid_l': '1.05599', 'mid_c': '1.05658', 'bid_o': '1.05879', 'bid_h': '1.05904', 'bid_l': '1.05591', 'bid_c': '1.05650', 'ask_o': '1.05893', 'ask_h': '1.05918', 'ask_l': '1.05607', 'ask_c': '1.05666'}

In [42]:
len(our_data)

10

In [55]:
candles_df = pd.DataFrame.from_dict(our_data)

In [56]:
candles_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2022-05-06T11:00:00.000000000Z,8562,1.05886,1.05911,1.05599,1.05658,1.05879,1.05904,1.05591,1.05650,1.05893,1.05918,1.05607,1.05666
1,2022-05-06T12:00:00.000000000Z,26820,1.05656,1.05972,1.05475,1.05538,1.05648,1.05962,1.05466,1.05527,1.05664,1.05985,1.05484,1.05548
2,2022-05-06T13:00:00.000000000Z,30665,1.05536,1.05960,1.05534,1.05734,1.05525,1.05952,1.05523,1.05726,1.05546,1.05969,1.05545,1.05743
3,2022-05-06T14:00:00.000000000Z,28079,1.05734,1.05878,1.05572,1.05818,1.05726,1.05870,1.05563,1.05811,1.05742,1.05886,1.05580,1.05826
4,2022-05-06T15:00:00.000000000Z,15992,1.05816,1.05952,1.05707,1.05710,1.05809,1.05944,1.05699,1.05702,1.05824,1.05960,1.05714,1.05717
5,2022-05-06T16:00:00.000000000Z,12819,1.05710,1.05804,1.05664,1.05692,1.05701,1.05796,1.05655,1.05683,1.05718,1.05813,1.05673,1.05700
6,2022-05-06T17:00:00.000000000Z,11251,1.05692,1.05749,1.05503,1.05504,1.05684,1.05741,1.05494,1.05495,1.05700,1.05757,1.05511,1.05512
7,2022-05-06T18:00:00.000000000Z,8434,1.05504,1.05585,1.05438,1.05474,1.05497,1.05577,1.05429,1.05467,1.05512,1.05593,1.05446,1.05482
8,2022-05-06T19:00:00.000000000Z,9052,1.05473,1.05564,1.05363,1.05475,1.05465,1.05555,1.05355,1.05466,1.05481,1.05573,1.05371,1.05484
9,2022-05-06T20:00:00.000000000Z,2626,1.05474,1.05488,1.05404,1.05458,1.05466,1.05475,1.05394,1.05431,1.05482,1.05538,1.05415,1.05484

In [57]:
candles_df.to_pickle('EUR_USD_H1.pkl')

In [58]:
test_df = pd.read_pickle('EUR_USD_H1.pkl')

In [59]:
test_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2022-05-06T11:00:00.000000000Z,8562,1.05886,1.05911,1.05599,1.05658,1.05879,1.05904,1.05591,1.05650,1.05893,1.05918,1.05607,1.05666
1,2022-05-06T12:00:00.000000000Z,26820,1.05656,1.05972,1.05475,1.05538,1.05648,1.05962,1.05466,1.05527,1.05664,1.05985,1.05484,1.05548
2,2022-05-06T13:00:00.000000000Z,30665,1.05536,1.05960,1.05534,1.05734,1.05525,1.05952,1.05523,1.05726,1.05546,1.05969,1.05545,1.05743
3,2022-05-06T14:00:00.000000000Z,28079,1.05734,1.05878,1.05572,1.05818,1.05726,1.05870,1.05563,1.05811,1.05742,1.05886,1.05580,1.05826
4,2022-05-06T15:00:00.000000000Z,15992,1.05816,1.05952,1.05707,1.05710,1.05809,1.05944,1.05699,1.05702,1.05824,1.05960,1.05714,1.05717
5,2022-05-06T16:00:00.000000000Z,12819,1.05710,1.05804,1.05664,1.05692,1.05701,1.05796,1.05655,1.05683,1.05718,1.05813,1.05673,1.05700
6,2022-05-06T17:00:00.000000000Z,11251,1.05692,1.05749,1.05503,1.05504,1.05684,1.05741,1.05494,1.05495,1.05700,1.05757,1.05511,1.05512
7,2022-05-06T18:00:00.000000000Z,8434,1.05504,1.05585,1.05438,1.05474,1.05497,1.05577,1.05429,1.05467,1.05512,1.05593,1.05446,1.05482
8,2022-05-06T19:00:00.000000000Z,9052,1.05473,1.05564,1.05363,1.05475,1.05465,1.05555,1.05355,1.05466,1.05481,1.05573,1.05371,1.05484
9,2022-05-06T20:00:00.000000000Z,2626,1.05474,1.05488,1.05404,1.05458,1.05466,1.05475,1.05394,1.05431,1.05482,1.05538,1.05415,1.05484

In [32]:
class Dog():
    def __init__(self,name,age):
        print("Hello")
        self.name = name
        self.age = age

    def __repr__(self):
        return str(vars(self))

    def woof(self):
        print("Woof")

    @classmethod
    def cls_woof(cls):
        print("CLS Woof")

In [29]:
d = Dog("Fido", 99)

Hello

In [30]:
d.woof()

Woof

In [44]:
d

{'name': 'Fido', 'age': 99}

In [36]:
Dog.cls_woof()

CLS Woof